* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.header1{
  position:relative;
  width:1100;
  height:150px;
  color:#0e0e0e;
  font-size:30px;
  background-color:white;
  padding:0 0 0 250px;
  border-bottom:5px solid black;
}
 .header1 h1{
  padding-top:60px;
 }

.header1 img{
  position:absolute;
  height:100px;
  top:40px;
  left:40px;
}

.header2{
  position:relative;
  width:1100;
  height:150px;
  color:#0e0e0e;
  font-size:30px;
  background-color:white;
  padding:0 0 0 250px;
  border-bottom:5px solid black;
}

.header2 h1{
  padding-top:55px;
 }

.header2 img{
  position:absolute;
  height:140px;
  top:0;
  left:40px;
}

.header3{
  position:relative;
  width:1100;
  height:150px;
  color:#0e0e0e;
  font-size:30px;
  background-color:white;
  padding:0 0 0 250px;
  border-bottom:5px solid black;
}

.header3 h1{
  padding-top:55px;
 }

.header3 img{
  position:absolute;
  height:140px;
  top:0;
  left:40px;
}

.header4{
  position:relative;
  width:1100;
  height:150px;
  color:#0e0e0e;
  font-size:30px;
  background-color:white;
  padding:0 0 0 250px;
  border-bottom:5px solid black;
}

.header4 h1{
  padding-top:55px;
 }

.header4 img{
  position:absolute;
  height:140px;
  top:0;
  left:40px;
}

.header5{
  position:relative;
  width:1100;
  height:150px;
  color:#0e0e0e;
  font-size:30px;
  background-color:white;
  padding:0 0 0 250px;
  border-bottom:5px solid #84277f;
}

.header5 h1{
  padding-top:55px;
 }

.header5 img{
  position:absolute;
  height:140px;
  top:0;
  left:40px;
}

.header6{
  position:relative;
  width:1100;
  height:150px;
  color:#0e0e0e;
  font-size:30px;
  background-color:white;
  padding:0 0 0 250px;
  border-bottom:5px solid #84277f;
}

.header6 h1{
  padding-top:55px;
 }

.header6 img{
  position:absolute;
  height:140px;
  top:0;
  left:40px;
}
.main a{
 color:black;
 font-size:30px;
}

.container{
  width:1100;
  height:150px;
  background-color:black;
  margin-top:40px;
  color:white;
}

.container h1{
  padding:20px 0 0 0;
  margin:0 0 0 0;
}

.container h2{
  margin:0 0 0 0;
}
span{
color:#800b0b;
}


@media all and (max-width: 670px) {
  
.header1{
  width:375;
  height:60px;
  color:#000000;
  font-size:14px;
  background-color:white;
  border-bottom:5px solid #1e2e56;
  padding:2px 0 0 110px;
}

.header1 h1{
  padding:0 0 0 40px;
}

.main a{
  color:black;
  font-size:13px;
  } 

 .header1 img{
  position:absolute;
  height:40px;
  top:14px;
  left:30px; 
}

.header2{
  width:375;
  height:70px;
  color:#000000;
  font-size:14px;
  background-color:white;
  border-bottom:5px solid #1d6104;
  padding:2px 0 0 110px;
}

.header2 h1{
  padding:10px 0 0 50px;
}

 .header2 img{
  position:absolute;
  height:60px;
  top:4px;
  left:30px; 
}

.header3{
  width:375;
  height:70px;
  color:#000000;
  font-size:14px;
  background-color:white;
  border-bottom:5px solid #7b0014;
  padding:2px 0 0 110px;
}

.header3 h1{
  padding:10px 0 0 50px;
}

 .header3 img{
  position:absolute;
  height:60px;
  top:4px;
  left:30px; 
}

.header4{
  width:375;
  height:70px;
  color:#000000;
  font-size:14px;
  background-color:white;
  border-bottom:5px solid #23806c;
  padding:2px 0 0 110px;
}

.header4 h1{
  padding:10px 0 0 40px;
}

 .header4 img{
  position:absolute;
  height:50px;
  top:15px;
  left:30px; 
}
  
.header5{
  width:375;
  height:70px;
  color:#000000;
  font-size:14px;
  background-color:white;
  border-bottom:5px solid #7b4494;
  padding:2px 0 0 110px;
}

.header5 h1{
  padding:10px 0 0 40px;
}

.header5 img{
  position:absolute;
  height:45px;
  top:20px;
  left:20px; 
}
 
.header6{
  width:375;
  height:70px;
  color:#000000;
  font-size:14px;
  background-color:white;
  border-bottom:5px solid #424419;
  padding:2px 0 0 110px;
}

.header6 h1{
  padding:10px 0 0 40px;
}

.header6 img{
  position:absolute;
  height:45px;
  top:20px;
  left:20px; 
}  
   
  .header6 img:hover{
   height:100px; 
  }
  
  
/* ------------------------------------------- */  
 .container{
  width:375;
  height:70px;
  background-color:black;
  margin-top:40px;
  color:white;
 }

.container h1{
 font-size:15px;
 margin:0 0 0 8px;
 padding:5px 0 0 0;
}

.container h2{
 font-size:10px;
 margin:0 0 0 10px;
}

}
