* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

header{
  position:relative;
  width:1100;
  height:150px;
  color:#0e0e0e;
  font-size:30px;
  background-color:white;
  padding:0 0 0 200px;
  border-bottom:5px solid black;
 

}

header img{
  position:absolute;
  height:100px;
  top:0;
  left:20px;


}
.main a{
  
  color:black;
  font-size:30px;
  
}










@media all and (max-width: 670px) {
  
header{
  width:375;
  color:#ffffff;
  font-size:10px;
  background-color:black;
  padding:0 0 0 50px;
}

.main a{
  color:black;
  font-size:10px;
  }  
}
