* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

header{
  width:1100;
  color:#ffffff;
  font-size:30px;
  background-color:black;
  padding:0 0 0 100px;
  
}

















@media all and (max-width: 670px) {
}
